<%= form_for(additional_room) do |f| %>
  <% if additional_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(additional_room.errors.count, "error") %> prohibited this additional_room from being saved:</h2>

      <ul>
      <% additional_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :option %>
    <%= f.text_field :options, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
