<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    New Building or Property
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %></a>
      </li>
      <li>
        <strong><%= link_to "Portfolio", building_listings_path %></strong>
      </li>
      <li class="active">
        <strong><%= link_to "New Listing", new_building_listing_path %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>


<div class="wrapper wrapper-content animaed fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="box">
        <div class="ibox-title">
          <h5>Create A New Rental Listing</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <h2>New Listing Creation Form</h2>
          <%= form_for(@listing, url: {action: 'create'}, html: {id: 'form', class: 'wizard-big form-horizontal'}, :authenticity_token => true) do |f| %>
           <% if listing.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(listing.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
              <% listing.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <h1>Rental Description</h1>
          <fieldset>
            <h2>Rental Listing Description</h2>

              <div class="form-group">
              <%= f.label :type_of_property, "Type of Property", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :type_of_property, options_for_select(type_of_property), {}, class: 'form-control' %>
              </div>
              </div>
              <div class="form-group">
                <%= f.label :unit_no, "Unit Number", class: 'control-label col-sm-4' %>
                <div class="col-sm-2">
                  <%= f.text_field :unit_no, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :unit_floor_location, "Unit's Floor Location", class: 'control-label col-sm-4' %>
                <div class="col-sm-2">
                  <%= f.text_field :unit_floor_location, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :floor_plan, "Floor Plan Id", class: 'control-label col-sm-4'%>
                <div class="col-sm-2">
                  <%= f.text_field :floor_plan, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :num_fbaths, "Number of Full Bathrooms", class: 'control-label col-sm-4' %>
                <div class="col-sm-2">
                  <%= f.text_field :num_fbaths, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :num_hbaths, "Number of Half Baths", class: 'control-label col-sm-4' %>
                <div class="col-sm-2">
                  <%= f.text_field :num_hbaths, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :beds, "Number of Bedrooms", class: 'control-label col-sm-4' %>
                <div class="col-sm-2">
                  <%= f.text_field :beds, class: 'form-control' %>
                </div>
              </div>
          </fieldset>
          <h1>Cost Description</h1>
          <fieldset>
            <h2>Cost Description</h2>
            <div class="form-group">
              <%= f.label :rent_price, "Rental Price", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">$</span>
                <%= f.text_field :rent_price, class: 'form-control' %>
                  <span class="input-group-addon">.00</span>
                </div>
              </div>              
            </div>
            <div class="form-group">
              <%= f.label :rent_per_period, "Rent Per Period", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :rent_per_period,options_for_select(rentperperiod), {}, class: 'control-label col-sm-6' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :for_sale, "Is The Unit For Sale?", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :for_sale, options_for_select(yes_or_no), {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :move_in_special, "Move-In Specials", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.text_area :move_in_special, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :advertising, "Advertising", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.text_area :advertising, class: 'form-control' %>
              </div>
            </div>

          </fieldset>

          <h1>Property Description</h1>
          <fieldset>
            <h2>Property Description</h2>
            <div class="form-group">
              <%= f.label :style, "Property Style", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :style, options_for_select(style), {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :sqft, "Square Footage of Property", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.text_field :sqft, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :balcony, "Does The Property Have A Balcony?", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :balcony, options_for_select(yes_or_no), {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :efficiency, "Is The Property An Efficiency?", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :efficiency, options_for_select(yes_or_no), {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :faces, "Property Faces Which Direction", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :faces, options_for_select(faces), {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :furnished_information, "Is The Property Furnished?", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :furnished_information, options_for_select(furnished), {}, class: 'form-control' %>
              </div>
            </div>
              <div class="form-group">
              <%= f.label :convert_bed, "Are There Convert Beds?", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :convert_bed, options_for_select(yes_or_no), {}, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :view, "View", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <%= f.select :view, options_for_select(view), {}, class: 'form-control' %>
              </div>
            </div>  
          </fieldset>
          <h1>Scheduling Information</h1>
          <fieldset>
            <h2>Scheduling Information</h2>
            <div class="form-group">
              <%= f.label :available_date, "Date Unit Is Avaialble", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <div class="input-group date" data-provide="datepicker">
                  <%= f.text_field :available_date, class: 'form-control' %>
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
            </div>
             <div class="form-group">
              <%= f.label :list_date, "Listing Date", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <div class="input-group date" data-provide="datepicker">
                  <%= f.text_field :list_date, class: 'form-control' %>
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
            </div>
             <div class="form-group">
              <%= f.label :expiration_date, "Expiration Date", class: 'control-label col-sm-4' %>
              <div class="col-sm-2">
                <div class="input-group date" data-provide="datepicker">
                  <%= f.text_field :expiration_date, class: 'form-control' %>
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <h1>Other</h1>
          <fieldset>
            <h2>Other</h2>
            <div class="form-group">
              <%= f.label :floor, "Floor Description", class: 'control-label col-sm-4' %>
              <div class="col-2 checkbox-circle">
                <%= f.collection_check_boxes :floor_ids, Floor.all, :id, :options do |b| %>
                  <%= b.label do %>
                    <%= b.check_box(id: "checkbox8") %>
                    <%= b.object.options %>
                  <% end %>
                <% end %>        
              </div>
                    
            </div>
          </fieldset>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



