<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-6">
      <h2 class="font-bold">Welcome to leasedUp!</h2>
      <p>
        Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <p>
        When an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <p>
        <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
      </p>
    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control', placeholder: 'email' %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        <div class="actions">
          <%= f.submit "Login", class: 'btn btn-primary block full-width m-b' %>
        </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      leasedUp created by LGM Studios
    </div>
    <div class="col-md-6 text-right">
      <small>© 2017</small>
    </div>
  </div>
</div>

