<%= form_for(building) do |f| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :County %>
      <%= f.select :county, options_for_select(sofl_counties), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :Area %>
      <%= f.text_field :area, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :City %>
      <%= f.select :city, options_for_select(sofl_cities), {}, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <div class="field">
      <%= f.label :Folio %>
      <%= f.text_field :folio, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :Street %>
      <%= f.text_field :street, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :Compass_Point %>
      <%= f.select :compass_point, options_for_select(compass_directions), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">    
    <div class="field">
      <%= f.label :Street_Name %>
      <%= f.text_field :street_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :State %>
      <%= f.select :state, options_for_select(us_states),{}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :Zip %>
      <%= f.text_field :zip, class: 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :Zip4, "Zip+4" %>
    <%= f.text_field :zip4, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Unit %>
    <%= f.text_field :unit, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Legal %>
    <%= f.text_field :legal, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Zoning %>
    <%= f.text_field :zoning, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Geographical %>
    <%= f.text_field :geographical, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Area %>
    <%= f.text_field :area, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Municipal_Code %>
    <%= f.text_field :municip_code, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Township %>
    <%= f.text_field :township, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Section %>
    <%= f.text_field :section, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Subdivision %>
    <%= f.text_field :subdivision, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Parcel %>
    <%= f.text_field :parcel, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Map_Coordinates %>
    <%= f.text_field :map_coordinates, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Elementary_School %>
    <%= f.select :elementary_school, options_for_select(sofl_elem),{}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Middle_School %>
    <%= f.select :middle_school, options_for_select(sofl_middle), {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Senior_High_School %>
    <%= f.select :senior_high_school, options_for_select(sofl_hs), {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Subdivison_Name %>
    <%= f.text_field :subdivision_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Development_Name %>
    <%= f.text_field :development_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Model_Name %>
    <%= f.text_field :model_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :User_Id %>
    <%= f.text_field :user_id, class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label "Amenities" %><br>
    <%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :options do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
      <% end %>
  </div>

  <br>
  <br>

  <div class="actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>

<% end %>
