<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    New Building or Property
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %></a>
      </li>
      <li>
        <%= link_to "Portfolio", buildings_path %>
      </li>
      <li class="active">
        <strong><%= link_to "New Building or Property", new_building_path %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Create New Building Form</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <h2>New Building Creation Form</h2>
          <p>Here you can fill in the fields below and create a new Building. The Building will hold the listings within the database</p>
          <!-- New Building Form with Validation Wizard -->
          <%= form_for(building, html: {id: 'form', class: 'wizard-big'}) do |f| %>

            <h1>Location Information</h1>
            <fieldset>
              <h2>Location Information</h2>
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-4">
                    <%= f.text_field :legal, class: 'form-control' %>
                    <%= f.label :Legal %>
                  </div>  
                  <div class="col-lg-4">
                    <%= f.text_field :development_name, class: 'form-control' %>
                    <%= f.label :Development_Name, "Development_Name" %>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">#</span>
                      <%= f.text_field :folio, class: 'form-control' %>
                    </div>
                      <%= f.label :Folio_Number, "Folio Number" %>
                  </div>
    
                  <div class="col-lg-4">
                    <%= f.text_field :street, class: 'form-control' %>
                    <%= f.label :Street %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :compass_point, options_for_select(compass_directions), {}, class: 'form-control' %>
                    <%= f.label :Compass_Point, "Compass Point" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :street_name, class: 'form-control' %>
                    <%= f.label :Street_Name, "Street Name" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :county, options_for_select(sofl_counties), {}, class: 'form-control select"' %>
                    <%= f.label :County %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :city, options_for_select(sofl_cities), {}, class: 'form-control' %>
                    <%= f.label :City %>
                  </div>
                  <div class="col-lg-4"> 
                    <%= f.select :state, options_for_select(us_states),{}, class: 'form-control' %>
                    <%= f.label :State %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :street, class: 'form-control' %>
                    <%= f.label :Street %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :compass_point, options_for_select(compass_directions), {}, class: 'form-control' %>
                    <%= f.label :Compass_Point, "Compass Point" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :street_name, class: 'form-control' %>
                    <%= f.label :Street_Name, "Street Name" %>
                  </div>    
              
                  <div class="col-lg-4"> 
                    <%= f.text_field :zip, class: 'form-control' %>
                    <%= f.label :Zip %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :zip4, class: 'form-control' %>
                    <%= f.label :Zip4, "Zip+4" %>
                  </div>
                  <div class="col-lg-4"> 
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon2">#</span>
                      <%= f.text_field :unit, class: 'form-control' %>
                    </div>
                    <%= f.label :Unit %>
                  </div>  
                
                  <div class="col-lg-4">
                    <%= f.text_field :zoning, class: 'form-control' %>
                    <%= f.label :Zoning %>
                  </div>  
                  <div class="col-lg-4">
                    <%= f.text_field :geographical, class: 'form-control' %>
                    <%= f.label :Geographical %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :area, class: 'form-control' %>
                    <%= f.label :Area %>
                  </div>  
                
                  <div class="col-lg-4">
                    <%= f.text_field :municip_code, class: 'form-control' %>
                    <%= f.label :Municipal_Code, "Municipal Code" %>
                  </div>  
                  <div class="col-lg-4">
                    <%= f.text_field :township, class: 'form-control' %>
                    <%= f.label :Township %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :section, class: 'form-control' %>
                    <%= f.label :Section %>
                  </div>
                </div>
              
                  <div class="col-lg-4">
                    <%= f.text_field :subdivision, class: 'form-control' %>
                    <%= f.label :Subdivision %>
                  </div>  
                  <div class="col-lg-4">
                    <%= f.text_field :parcel, class: 'form-control' %>
                    <%= f.label :Parcel %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :map_coordinates, class: 'form-control' %>
                    <%= f.label :Map_Coordinates, "Map Coordinates" %>
                  </div> 
                
                  <div class="col-lg-4">    
                    <%= f.select :elementary_school, options_for_select(sofl_elem),{}, class: 'form-control' %>
                    <%= f.label :Elementary_School, "Elementary School" %>
                  </div>  
                  <div class="col-lg-4">
                    <%= f.select :middle_school, options_for_select(sofl_middle), {}, class: 'form-control' %>
                    <%= f.label :Middle_School, "Middle School" %>
                  </div>  
                  <div class="col-lg-4">
                    <%= f.select :senior_high_school, options_for_select(sofl_hs), {}, class: 'form-control' %>
                    <%= f.label :Senior_High_School, "Senior High School" %>
                  </div>  
               
                  <div class="col-lg-4">
                    <%= f.text_field :subdivision_name, class: 'form-control' %>
                    <%= f.label :Subdivison_Name, "Subdivision Name" %>
                  </div>  
                  <div class="col-lg-4">
                    <%= f.text_field :model_name_in_mls, class: 'form-control' %>
                    <%= f.label :Model_Name, "Model Name" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :user_id, class: 'form-control' %>
                    <%= f.label :User_Id, "User Id" %>
                  </div>
               
                  <div class="col-lg-4">
                    <%= f.select :waterfront_description, options_for_select(waterfront_description), {}, class: 'form-control' %>
                    <%= f.label :waterfront_description, "Waterfront Description" %>
                  </div>
                </div>
            </fieldset>

            <h1>General Information</h1>
            <fieldset>
              <h2>General Information</h2>
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-4">
                    <%= f.text_field :year_built, class: 'form-control' %>
                    <%= f.label :Year_Built, "Year Built" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :year_built_description, options_for_select(yearbuiltdescription), {}, class: 'form-control' %>
                    <%= f.label :Year_built_description, "Year Built Description" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :stories, class: 'form-control' %>
                    <%= f.label :Number_Of_Stories, "Number of Stories" %>
                  </div>
                
                  <div class="col-lg-4">
                    <%= f.text_field :garage_spaces, class: 'form-control' %>
                    <%= f.label :garage_spaces, "Garage Spaces" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :garage_description, class: 'form-control' %>
                    <%= f.label :garage_description, "Garage Description" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :carport_spaces, class: 'form-control' %>
                    <%= f.label :carport_spaces, "Carport Spaces" %>
                  </div>
                
                  <div class="col-lg-4">
                    <%= f.select :carport_description, options_for_select(carport_description), {}, class: 'form-control' %>
                    <%= f.label :carport_description, "Carport Description" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :waterfront, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label :waterfront, "Waterfront" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :waterfront_frontage, class: "form-control" %>
                    <%= f.label "Waterfront Frontage" %>
                  </div>          
                
                  <div class="col-lg-4">
                    <%= f.text_field :approx_lot_size, class: 'form-control' %>
                    <%= f.label :approx_lot_size,  "Approximate Lot Size" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :lotsf, class: 'form-control' %>
                    <%= f.label "Lot Square footage" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :lot_description, options_for_select(lot_description), {}, class: 'form-control' %>
                    <%= f.label "Lot Description" %>
                  </div>
                
                  <div class="col-lg-4">
                    <%= f.select :spa, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label "Spa Available" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :pool, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label "Pool Available" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :pool_dimensions, class: 'form-control' %>
                    <%= f.label "Pool Dimensions" %>
                  </div>
                <br>
                <br>
                  <div class="col-lg-2">
                    <%= f.label :lot_description, "Lot Description" %>
                    <br>
                    <%= f.collection_check_boxes :lot_description_ids, LotDescription.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :waterfront_description, "Waterfront Description" %>
                    <br>
                    <%= f.collection_check_boxes :waterfront_description_ids, WaterfrontDescription.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :parking_restriction, "Parking Restrictions" %>
                    <br>
                    <%= f.collection_check_boxes :parking_restriction_ids, ParkingRestriction.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :pool_description, "Pool Description" %>
                    <br>
                    <%= f.collection_check_boxes :pool_description_ids, PoolDescription.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :water_access, "Water Access" %>
                    <br>
                    <%= f.collection_check_boxes :water_access_ids, WaterAccess.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :construction, "Construction" %>
                    <br>
                    <%= f.collection_check_boxes :construction_ids, Construction.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
              
                  <div class="col-lg-2">
                    <%= f.label :design, "Design" %>
                    <br>
                    <%= f.collection_check_boxes :design_ids, Design.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :roof_description, "Roof Description" %>
                    <br>
                    <%= f.collection_check_boxes :roof_description_ids, RoofDescription.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                </div>
              </div>      
            </fieldset>

            <h1>Remarks</h1>
            <fieldset>
              <h2>Remarks</h2>
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-6">
                    <%= f.text_area :remarks, class: 'form-control' %>
                    <%= f.label :Remarks %>
                  </div>
                  <div class="col-lg-6">
                    <%= f.text_area :directions, class: 'form-control' %>
                    <%= f.label :Directions %>
                  </div>
                
                  <div class="col-lg-6">
                    <%= f.text_area :broker_remarks, class: 'form-control' %>
                    <%= f.label "Broker Remarks" %>
                  </div>
                  <div class="col-md-6">
                    <%= f.text_area :internet_remarks, class: 'form-control' %>
                    <%= f.label "Internet Remarks" %>
                  </div>
                </div>
              </div>
            </fieldset>

            <h1>Additional Information</h1>
            <fieldset>
              <h2>Additional Information</h2>
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-6">
                    <%= f.select :pets_allowed, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label "Pets Allowed" %>
                  </div>
                  <div class="col-lg-6">
                    <%= f.label "Cable Available" %>
                    <%= f.select :cable_available, options_for_select(yes_or_no), {}, class: 'form-control' %>
                  </div>
                
              <br>
              <br>
              
                  <div class="col-lg-3">
                    <%= f.label :pet_restrictions, "Pet Restrictions" %>
                    <br>
                    <%= f.collection_check_boxes :pet_restriction_ids, PetRestriction.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-3">
                    <%= f.label :security, "Security" %>
                    <br>
                    <%= f.collection_check_boxes :security_ids, Security.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-3">
                    <%= f.label :equipment, "Equipment" %>
                    <br>
                    <%= f.collection_check_boxes :equipment_ids, Equipment.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-3">
                    <%= f.label :exterior_features, "Exterior Features" %>
                    <br>
                    <%= f.collection_check_boxes :exterior_feature_ids, ExteriorFeature.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :amenities, "Building Amenities" %>
                    <br>
                    <%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                
              <br>
              <br>
             
                  <div class="col-lg-3">
                    <%= f.label :misc, "Miscellaneous" %>
                    <br>
                    <%= f.collection_check_boxes :misc_ids, Misc.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div> 
                  <div class="col-lg-3">
                    <%= f.label :rental_restrictions, "Rental Restrictions" %>
                    <br>
                    <%= f.collection_check_boxes :rental_restriction_ids, RentalRestriction.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-3">
                    <%= f.label :window_treatments, "Window Treatments" %>
                    <br>
                    <%= f.collection_check_boxes :window_treatment_ids, WindowTreatment.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-3">
                    <%= f.label :additional_rooms, "Additional Rooms" %>
                    <br>
                    <%= f.collection_check_boxes :additional_room_ids, AdditionalRoom.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
            
                </div>
              </div>
            </fieldset>

            <h1>Rental Information</h1>
            <fieldset>
              <h2>Rental Information</h2>
                <div class="row">
                  <div class="form-group">
                    <div class="col-lg-4">
                      <%= f.text_field :furn_annual_rent, class: 'form-control' %>
                      <%= f.label :furn_annual_rent, "Furn Annual Rent" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.text_field :furn_annual_rent, class: 'form-control' %>
                      <%= f.label :furn_seasonal_rent, "Furn Seasonal Rent" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.text_field :furn_off_rent, class: 'form-control' %>
                      <%= f.label :furn_off_rent, "Furn Off Rent" %>
                    </div>
                    
                  
                <br>
                
                    <div class="col-lg-4">
                      <%= f.text_field :unfurn_annual_rent, class: 'form-control' %>
                      <%= f.label :unfurn_annual_rent, "Unfurn Annual Rent" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.text_field :unfurn_seasonal_rent, class: 'form-control' %>
                      <%= f.label :unfurn_season_rent, "Unfurn Seasonal Rent" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.text_field :unfurn_off_rent, class: 'form-control' %>
                      <%= f.label :unfurn_off_rent, "Unfurn Off Rent" %>
                    </div>
                  
                <br>
                
                    <div class="col-lg-4">
                      <%= f.text_field :min_days_to_lease, class: 'form-control' %>
                      <%= f.label :min_days_to_lease, "Minimum Number of Days to Lease" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.text_field :leases_per_year, class: 'form-control' %>
                      <%= f.label :leases_per_year, "Number of Leases Per Year" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.text_field :application_fee, class: 'form-control' %>
                      <%= f.label :application_fee, "Application Fee" %>
                    </div>
                  
                <br>
                
                    <div class="col-lg-4">
                      <%= f.text_field :move_in_cost, class: 'form-control' %>
                      <%= f.label :move_in_cost, "Move In Cost" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :renewable, options_for_select(yes_or_no), {}, class: 'form-control' %>
                      <%= f.label :renewable, "Renewable" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :additional_moving_cost, options_for_select(yes_or_no), {}, class: 'form-control' %>
                      <%= f.label :additional_moving_cost, "Additional Moving Cost?" %>
                    </div>
                 
                <br>
                <br>
                
                    <div class="col-lg-2">
                      <%= f.label :approval, "Approval Options" %>
                      <br>
                      <%= f.collection_check_boxes :approval_ids, Approval.all, :id, :options do |b| %>
                        <%= b.label do %>
                          <%= b.check_box %>
                          <%= b.object.options %>
                        <% end %>
                      <% end %>                      
                    </div>
                    <div class="col-lg-2">
                      <%= f.label :leasing_term, "Leasing Terms" %>
                      <br>
                      <%= f.collection_check_boxes :leasing_term_ids, LeasingTerm.all, :id, :options do |b| %>
                        <%= b.label do %>
                          <%= b.check_box %>
                          <%= b.object.options %>
                        <% end %>
                      <% end %>                      
                    </div>
                    <div class="col-lg-2">
                      <%= f.label :rental_pay_inc, "Rental Payment Includes" %>
                      <br>
                      <%= f.collection_check_boxes :rental_pay_inc_ids, RentalPayInc.all, :id, :options do |b| %>
                        <%= b.label do %>
                          <%= b.check_box %>
                          <%= b.object.options %>
                        <% end %>
                      <% end %>                      
                    </div>
                    <div class="col-lg-2">
                      <%= f.label :heats, "Heating Options" %>
                      <br>
                      <%= f.collection_check_boxes :heat_ids, Heat.all, :id, :options do |b| %>
                        <%= b.label do %>
                          <%= b.check_box %>
                          <%= b.object.options %>
                        <% end %>
                      <% end %>                      
                    </div>
                    <div class="col-lg-2">
                      <%= f.label :rental_dep_incl, "Rental Deposit Includes" %>
                      <br>
                      <%= f.collection_check_boxes :rental_dep_incl_ids, RentalDepIncl.all, :id, :options do |b| %>
                        <%= b.label do %>
                          <%= b.check_box %>
                          <%= b.object.options %>
                        <% end %>
                      <% end %>                      
                    </div>
                    <div class="col-lg-2">
                      <%= f.label :cooling_description, "Cooling Description" %>
                      <br>
                      <%= f.collection_check_boxes :cooling_description_ids, CoolingDescription.all, :id, :options do |b| %>
                        <%= b.label do %>
                          <%= b.check_box %>
                          <%= b.object.options %>
                        <% end %>
                      <% end %>                      
                    </div>
                  
                <br>
                <br>
                
                    <div class="col-lg-4">
                      <%= f.select :sewer_description, options_for_select(sewer_description), {}, class: 'form-control' %>
                      <%= f.label :sewer_description, "Sewer Description" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :water, options_for_select(water_source), {}, class: 'form-control' %>
                      <%= f.label :water, "Water Source" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :housing_older_persons_act, options_for_select(hopa), {}, class: 'form-control' %>
                      <%= f.label :housing_older_persons_act, "Housing Older Persons Act(HOPA)" %>
                    </div>
                  
                <br>
                
                    <div class="col-lg-4">
                      <%= f.select :rs_jan, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_jan, "Rental Status-January" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_feb, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_feb, "Rental Status-February" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_march, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_march, "Rental Status-March" %>
                    </div>                      
                  
                    <div class="col-lg-4">
                      <%= f.select :rs_april, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_april, "Rental Status-April" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_may, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_may, "Rental Status-May" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_june, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_june, "Rental Status-June" %>
                    </div>                      
                  
                    <div class="col-lg-4">
                      <%= f.select :rs_july, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_july, "Rental Status-July" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_aug, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_aug, "Rental Status-August" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_sept, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_sept, "Rental Status-September" %>
                    </div>                      
                  
                    <div class="col-lg-4">
                      <%= f.select :rs_oct, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_oct, "Rental Status-October" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_nov, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_nov, "Rental Status-November" %>
                    </div>
                    <div class="col-lg-4">
                      <%= f.select :rs_dec, options_for_select(rental_status), {}, class: 'form-control' %>
                      <%= f.label :rs_dec, "Rental Status-December" %>
                    </div>                      
                  </div>
                </div>
            </fieldset>

            <h1>Office Information</h1>
            <fieldset>
              <h2>Office Information</h2>
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-4">
                    <%= f.text_field :list_agent_mls_id, class: 'form-control' %>
                    <%= f.label :list_agent_mls_id, "Listing Agent's MLS ID" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :list_agent_alt_phone, class: 'form-control' %>
                    <%= f.label :list_agent_alt_phone, "Listing Agent's Alternate Phone" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :co_list_agent_mls_id, class: 'form-control' %>
                    <%= f.label :co_list_agent_mls_id, "Co-Listing Agent's MLS Id" %>
                  </div>
                
              <br>
              
                  <div class="col-lg-3">
                    <%= f.select :internet, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label :internet, "Internet" %>
                  </div>
                  <div class="col-lg-3">
                    <%= f.select :avm, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label :avm, "AVM" %>
                  </div>
                  <div class="col-lg-3">
                    <%= f.select :blogging, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label :blogging, "Blogging" %>
                  </div>
                  <div class="col-lg-3">
                    <%= f.select :address_on_internet, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label :address_on_internet, "Address is on the Internet?" %>
                  </div>
                
              <br>
              
                  <div class="col-lg-4">
                    <%= f.select :list_type, options_for_select(listing_type), {}, class: 'form-control' %>
                    <%= f.label :list_type, "Listing Type" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :owners_name, class: 'form-control' %>
                    <%= f.label :owners_name, "Owner's Name" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.text_field :owners_phone, class: 'form-control' %>
                    <%= f.label :owners_phone, "Owner's Phone" %>
                  </div>
               
              <br>
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-4">
                    <%= f.select :variable_dual_rate, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label :variable_dual_rate, "Variable/Dual Rate" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :owner_agent, options_for_select(yes_or_no), {}, class: 'form-control' %>
                    <%= f.label :owner_agent, "Owner Agent" %>
                  </div>
                  <div class="col-lg-4">
                    <%= f.select :occupancy_information, options_for_select(occupancy_info), {}, class: 'form-control' %>
                    <%= f.label :occupancy_information, "Occupany Information" %>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-2">
                    <%= f.label :showing_instruction, "Cooling Description" %>
                    <br>
                    <br>
                    <%= f.collection_check_boxes :showing_instruction_ids, ShowingInstruction.all, :id, :options do |b| %>
                      <%= b.label do %>
                        <%= b.check_box %>
                        <%= b.object.options %>
                      <% end %>
                    <% end %>                      
                  </div>
                  <div class="col-lg-2">
                    <%= f.text_field :compensation_trans_broker, class: 'form-control' %>
                    <%= f.label :compensation_trans_broker, "Comensation Trans Broker" %>
                  </div>
                  <div class="col-lg-2">
                    <%= f.text_field :compensation_buyers_agent, class: 'form-control' %>
                    <%= f.label :compensation_buyers_agent, "Compensation Buyer's Agent" %>
                  </div>
                  <div class="col-lg-2">
                    <%= f.label :compensation_non_rep, "Compensation Non Rep" %>
                    <%= f.text_field :compensation_non_rep, class: 'form-control' %>
                  </div>
                  <div class="col-lg-2">
                    <%= f.select :renewal_commission, options_for_select(renewal_commision), {}, class: 'form-control' %>
                    <%= f.label :renewal_commission, "Renewal Commission" %>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-lg-6">
                  <%= f.text_field :agent_url, class: 'form-control' %>
                  <%= f.label :agent_url, "Agent URL" %>
                </div>
                <div class="col-lg-6">
                  <%= f.text_field :photo_instructions, class: 'form-control' %>
                  <%= f.label :photo_instructions, "Photo Instructions" %>
                </div>
              </div>  
            </fieldset>


          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">
    $(function() {

        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
                    errorPlacement: function (error, element) {
                        element.before(error);
                    },
                    rules: {
                        confirm: {
                            equalTo: "#password"
                        }
                    }
                });

    });

  </script>

<% end %>