<%= form_for(building) do |f| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :County %>
    <%= f.text_field :County %>
  </div>

  <div class="field">
    <%= f.label :Area %>
    <%= f.text_field :Area %>
  </div>

  <div class="field">
    <%= f.label :City %>
    <%= f.text_field :City %>
  </div>

  <div class="field">
    <%= f.label :Folio %>
    <%= f.text_field :Folio %>
  </div>

  <div class="field">
    <%= f.label :Street %>
    <%= f.text_field :Street %>
  </div>

  <div class="field">
    <%= f.label :CompassPoint %>
    <%= f.text_field :CompassPoint %>
  </div>

  <div class="field">
    <%= f.label :StreetName %>
    <%= f.text_field :StreetName %>
  </div>

  <div class="field">
    <%= f.label :State %>
    <%= f.text_field :State %>
  </div>

  <div class="field">
    <%= f.label :Zip %>
    <%= f.text_field :Zip %>
  </div>

  <div class="field">
    <%= f.label :Zip4 %>
    <%= f.text_field :Zip4 %>
  </div>

  <div class="field">
    <%= f.label :Unit %>
    <%= f.text_field :Unit %>
  </div>

  <div class="field">
    <%= f.label :Legal %>
    <%= f.text_field :Legal %>
  </div>

  <div class="field">
    <%= f.label :Zoning %>
    <%= f.text_field :Zoning %>
  </div>

  <div class="field">
    <%= f.label :Geographical %>
    <%= f.text_field :Geographical %>
  </div>

  <div class="field">
    <%= f.label :Area %>
    <%= f.text_field :Area %>
  </div>

  <div class="field">
    <%= f.label :MunicipCode %>
    <%= f.text_field :MunicipCode %>
  </div>

  <div class="field">
    <%= f.label :Township %>
    <%= f.text_field :Township %>
  </div>

  <div class="field">
    <%= f.label :Section %>
    <%= f.text_field :Section %>
  </div>

  <div class="field">
    <%= f.label :Subdivision %>
    <%= f.text_field :Subdivision %>
  </div>

  <div class="field">
    <%= f.label :Parcel %>
    <%= f.text_field :Parcel %>
  </div>

  <div class="field">
    <%= f.label :MapCoordinates %>
    <%= f.text_field :MapCoordinates %>
  </div>

  <div class="field">
    <%= f.label :ElementarySchool %>
    <%= f.text_field :ElementarySchool %>
  </div>

  <div class="field">
    <%= f.label :MiddleSchool %>
    <%= f.text_field :MiddleSchool %>
  </div>

  <div class="field">
    <%= f.label :SeniorHighSchool %>
    <%= f.text_field :SeniorHighSchool %>
  </div>

  <div class="field">
    <%= f.label :SubdivisonName %>
    <%= f.text_field :SubdivisonName %>
  </div>

  <div class="field">
    <%= f.label :DevelopmentName %>
    <%= f.text_field :DevelopmentName %>
  </div>

  <div class="field">
    <%= f.label :ModelName %>
    <%= f.text_field :ModelName %>
  </div>

  <div class="field">
    <%= f.label :User_id %>
    <%= f.text_field :User_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
