<%= form_for(building) do |f| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :County %>
      <%= f.select :County, options_for_select(sofl_counties), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :Area %>
      <%= f.text_field :Area, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :City %>
      <%= f.select :City, options_for_select(sofl_cities), {}, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <div class="field">
      <%= f.label :Folio %>
      <%= f.text_field :Folio, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :Street %>
      <%= f.text_field :Street, class: 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="field">
      <%= f.label :Compass_Point %>
      <%= f.text_field :CompassPoint, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">    
    <div class="field">
      <%= f.label :Street_Name %>
      <%= f.text_field :StreetName, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :State %>
      <%= f.select :State, options_for_select(us_states),{}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :Zip %>
      <%= f.text_field :Zip, class: 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :Zip4, "Zip+4" %>
    <%= f.text_field :Zip4, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Unit %>
    <%= f.text_field :Unit, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Legal %>
    <%= f.text_field :Legal, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Zoning %>
    <%= f.text_field :Zoning, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Geographical %>
    <%= f.text_field :Geographical, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Area %>
    <%= f.text_field :Area, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Municipal_Code %>
    <%= f.text_field :MunicipCode, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Township %>
    <%= f.text_field :Township, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Section %>
    <%= f.text_field :Section, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Subdivision %>
    <%= f.text_field :Subdivision, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Parcel %>
    <%= f.text_field :Parcel, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Map_Coordinates %>
    <%= f.text_field :MapCoordinates, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Elementary_School %>
    <%= f.text_field :ElementarySchool, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Middle_School %>
    <%= f.text_field :MiddleSchool, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Senior_High_School %>
    <%= f.text_field :SeniorHighSchool, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Subdivison_Name %>
    <%= f.text_field :SubdivisonName, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Development_Name %>
    <%= f.text_field :DevelopmentName, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :Model_Name %>
    <%= f.text_field :ModelName, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :User_Id %>
    <%= f.text_field :user_id, class: 'form-control' %>
  </div>
  <br>
  <br>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
