<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    New Building or Property
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", root_path %></a>
      </li>
      <li class="active">
        <strong><%= link_to "Portfolio", buildings_path %></strong>
      </li>
      <li>
        <%= link_to "New Building or Property", new_building_path %>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<p id="notice"><%# notice %></p>
<h1>Buildings</h1>
<% @buildings.each do |building| %>
<div class="col-sm-3 col-md-4">
  <div class="thumbnail">
    <!-- <img src="..." alt="..."> -->
    <div class="caption">
      <h3>Id#<%= building.id %>-<%= building.development_name %></h3>
      <p>Lorem Ipsum Create Building Descriptions for Copy</p>
      <div class="text-center">
        <%= link_to "Id##{building.id} #{building.development_name}", {controller: 'buildings',action: 'open_building_modal', id: building.id, format: :js }, class: 'btn btn-primary', remote: true %>

      </div>
    </div>
  </div>
</div>
  
 


        <!-- <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

<!-- 
<br> -->
<div id="open-building-modal">

</div>
    <% end %>
<%= link_to 'New Building', new_building_path %>