<p id="notice"><%= notice %></p>

<p>
  <strong>County:</strong>
  <%= @building.County %>
</p>

<p>
  <strong>Area:</strong>
  <%= @building.Area %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.City %>
</p>

<p>
  <strong>Folio:</strong>
  <%= @building.Folio %>
</p>

<p>
  <strong>Street:</strong>
  <%= @building.Street %>
</p>

<p>
  <strong>Compasspoint:</strong>
  <%= @building.CompassPoint %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @building.StreetName %>
</p>

<p>
  <strong>State:</strong>
  <%= @building.State %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @building.Zip %>
</p>

<p>
  <strong>Zip4:</strong>
  <%= @building.Zip4 %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @building.Unit %>
</p>

<p>
  <strong>Legal:</strong>
  <%= @building.Legal %>
</p>

<p>
  <strong>Zoning:</strong>
  <%= @building.Zoning %>
</p>

<p>
  <strong>Geographical:</strong>
  <%= @building.Geographical %>
</p>

<p>
  <strong>Area:</strong>
  <%= @building.Area %>
</p>

<p>
  <strong>Municipcode:</strong>
  <%= @building.MunicipCode %>
</p>

<p>
  <strong>Township:</strong>
  <%= @building.Township %>
</p>

<p>
  <strong>Section:</strong>
  <%= @building.Section %>
</p>

<p>
  <strong>Subdivision:</strong>
  <%= @building.Subdivision %>
</p>

<p>
  <strong>Parcel:</strong>
  <%= @building.Parcel %>
</p>

<p>
  <strong>Mapcoordinates:</strong>
  <%= @building.MapCoordinates %>
</p>

<p>
  <strong>Elementaryschool:</strong>
  <%= @building.ElementarySchool %>
</p>

<p>
  <strong>Middleschool:</strong>
  <%= @building.MiddleSchool %>
</p>

<p>
  <strong>Seniorhighschool:</strong>
  <%= @building.SeniorHighSchool %>
</p>

<p>
  <strong>Subdivisonname:</strong>
  <%= @building.SubdivisonName %>
</p>

<p>
  <strong>Developmentname:</strong>
  <%= @building.DevelopmentName %>
</p>

<p>
  <strong>Modelname:</strong>
  <%= @building.ModelName %>
</p>

<p>
  <strong>User:</strong>
  <%= @building.user.username %>
</p>

<%= link_to 'Edit', edit_building_path(@building), class: 'btn btn-primary' %> |
<%= link_to 'Back', buildings_path, class: 'btn btn-primary' %>
