<div class="col-md-12">
  <h1>Building Info</h1>
  <div class="ibox">
    <div class="ibox-content">
          <div class="product-imitation">
              [ INFO ]
          </div>
          <div class="product-desc">
            <span class="product-price">
                Building Id: <%= @building.id %></span>
              <small class="text-muted">Development Name</small>
              <%= link_to "#{@building.development_name}", @building %>
              
     <div class="small m-t-xs">
      <p id="notice"><%= notice %></p>
      <div class="row">
  <div class="col-sm-4">
    <p>
      <strong>County:</strong>
      <%= @building.county %>
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <strong>Area:</strong>
      <%= @building.area %>
    </p>    
  </div>
  <div class="col-sm-4">
    <p>
        <p>
          <strong>Folio:</strong>
          <%= @building.folio %>
        </p>

        <p>
          <strong>Street:</strong>
          <%= @building.street %>
        </p>

        <p>
          <strong>Compasspoint:</strong>
          <%= @building.compass_point %>
        </p>

        <p>
          <strong>Streetname:</strong>
          <%= @building.street_name %>
        </p>

        <p>
          <strong>State:</strong>
          <%= @building.state %>
        </p>

        <p>
          <strong>Zip:</strong>
          <%= @building.zip %>
        </p>

        <p>
          <strong>Zip4:</strong>
          <%= @building.zip4 %>
        </p>

        <p>
          <strong>Unit:</strong>
          <%= @building.unit %>
        </p>

        <p>
          <strong>Legal:</strong>
          <%= @building.legal %>
        </p>

        <p>
          <strong>Zoning:</strong>
          <%= @building.zoning %>
        </p>

        <p>
          <strong>Geographical:</strong>
          <%= @building.geographical %>
        </p>

        <p>
          <strong>Area:</strong>
          <%= @building.area %>
        </p>

        <p>
          <strong>Municipcode:</strong>
          <%= @building.municip_code %>
        </p>

        <p>
          <strong>Township:</strong>
          <%= @building.township %>
        </p>

        <p>
          <strong>Section:</strong>
          <%= @building.section %>
        </p>

        <p>
          <strong>Subdivision:</strong>
          <%= @building.subdivision %>
        </p>

        <p>
          <strong>Parcel:</strong>
          <%= @building.parcel %>
        </p>

        <p>
          <strong>Mapcoordinates:</strong>
          <%= @building.map_coordinates %>
        </p>

        <p>
          <strong>Elementaryschool:</strong>
          <%= @building.elementary_school %>
        </p>

        <p>
          <strong>Middleschool:</strong>
          <%= @building.middle_school %>
        </p>

        <p>
          <strong>Seniorhighschool:</strong>
          <%= @building.senior_high_school %>
        </p>

        <p>
          <strong>Subdivisonname:</strong>
          <%= @building.subdivision_name %>
        </p>

        <p>
          <strong>Developmentname:</strong>
          <%= @building.development_name %>
        </p>

        <p>
          <strong>Modelname:</strong>
          <%= @building.model_name_in_mls %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @building.user.username %>
        </p>

<%= link_to 'Edit', edit_building_path(@building), class: 'btn btn-primary' %> |
<%= link_to 'Back', buildings_path, class: 'btn btn-primary' %>
      <strong>City:</strong>
      <%= @building.city %>
    </p>
  </div>
    </div>



              </div>

          </div>
  </div>
      </div>
    </div>
    </div>
    </div>


