<!DOCTYPE html>
<html>
  <head>
    <title>Get Leased Up!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="nabar-bottom pace-done">
    <% if current_user %>
      <%= render 'layouts/current_user' %>
    <% else %>
      <%= render 'layouts/no_user' %>
    <% end %>
  </body>
</html>

